a {
	transition: .3s;
}
body {
	background-color: #fff;
	color: $black;
	font-family: "Raleway";
	font-size: 24px;
	@media (max-width: $break_md) {
		font-size: 22px;
	}
}
h1 {
	font-size: 56px;
	font-weight: 800;
	text-transform: uppercase;
	@media (max-width: $break_md) {
		font-size: 36px;
	}
	@media (max-width: $break_sm) {
		font-size: 28px;
	}
}
h2 {
	font-size: 100px;
	font-weight: 900;
	text-transform: uppercase;
	@media (max-width: $break_md) {
		font-size: 56px;
	}
	@media (max-width: $break_sm) {
		font-size: 46px;
	}
}
h3 {
	font-size: 44px;
	font-weight: 800;
	text-transform: uppercase;
	@media (max-width: $break_md) {
		font-size: 38px;
	}
	@media (max-width: $break_sm) {
		font-size: 22px;
	}
}
h4 {
	font-size: 28px;
	font-weight: 800;
	text-transform: uppercase;
	@media (max-width: $break_md) {
		font-size: 22px;
		font-weight: 900;
	}
	@media (max-width: $break_sm) {
		font-size: 14px;
	}
}
.wrapper {
	@include wrapper();
	width: 100%;
	padding-top: 20px;
	position: relative;
	overflow: hidden;
	@media (max-width: $break_md) {
		padding-top: 8px;
	}
}
.row {
	@include row-flex();
}
.btn {
	display: inline-block;
	padding: 16px 32px;
	border: 1px solid $blue;
	background-color: transparent;
	font-family: "Raleway";
	font-size: 18px;
	color: $blue;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	transition: .3s;
	&:hover {
		background-color: $blue;
		color: #fff;
	}
	&-dark {
		background-color: $blue;
		color: #fff;
		&:hover {
			background-color: $black;
			border-color: $black;
		}
	}
	@media (max-width: $break_md) {
		font-size: 12px;
	}
}
.title-span {
	color: $blue;
}
input {
	padding: 11px 30px;
	font-size: 18px;
	font-family: "Raleway";
	&::placeholder {
		color: $black;
	}
	@media (max-width: $break_md) {
		padding: 7px 12px;
		font-size: 12px;
	}
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	transition: .3s;
	.wrapper {
		display: flex;
		padding-left: 226px;
		padding-top: 50px;
		transition: .3s;
	}
	.btn {
		font-size: 12px;
		padding: 10px 15px;
		text-transform: uppercase;
		margin-left: 34px;
		letter-spacing: 0.8px;
		font-weight: 700;
		white-space: nowrap;
	}
	&.stiky {
		position: fixed;
		background-color: #fff;
		padding-bottom: 20px;
		.wrapper {
			padding-top: 20px;
		}
	}
	@media (max-width: $break_lg) {
		.wrapper {
			padding-left: 100px;
		}
	}
	@media (max-width: $break_md) {
		&.stiky {
			padding-bottom: 15px;
			.wrapper {
				padding-top: 15px;
			}
		}
		.wrapper {
			padding-left: 54px;
			padding-right: 20px;
			padding-top: 30px;
		}
		.btn {
			font-size: 10px;
			padding: 10px 24px;
			margin-left: 0;
		}
	}
	@media (max-width: $break_sm) {
		.wrapper {
			align-items: center;
			padding: 14px 18px 0 18px;
		}
		&.stiky {
			padding-bottom: 10px;
			.wrapper {
				padding-top: 10px;
			}
		}
		.btn {
			width: 164px;
			margin-left: 8px;
		}
	}
}
.logo {
	position: relative;
	z-index: 999;
	@media (max-width: $break_md) {
		max-width: 115px;
	}
	@media (max-width: $break_sm) {
		max-width: 117px;
		width: 100%;
	}
}
.hamburger {
	position: relative;
	z-index: 999;
	@media (max-width: $break_sm) {
		margin-top: -8px;
	}
}


.first-screen {
	padding: 213px 207px 184px 207px;
	background-color: $grey;
	position: relative;
	z-index: 2;
	&_block {
		max-width: 600px;
		position: relative;
		z-index: 4;
	}
	&_title {
		margin-bottom: 13px;
		text-transform: uppercase;
		span {
			font-size: 60px;
			line-height: 0;
		}
	}
	&_subtitle {
		margin-bottom: 38px;
		font-size: 31px;
	}
	&_line {

	}
	&_col {
		@include col(6);
	}
	&_img {
		max-width: 827px;
		position: absolute;
		top: -11px;
		right: -16px;
		z-index: 3;
	}
	.btn {
		padding: 13px 35px;
		&:nth-child(2) {
			margin-left: 22px;
		}
	}
	@media (max-width: $break_xl) {
		&_img {
			right: -150px;
		}
	}
	@media (max-width: $break_lg) {
		padding-left: 100px;
		padding-right: 100px;
	}
	@media (max-width: $break_md) {
		padding: 170px 48px 128px 48px;
		&_block {
			max-width: 400px;
		}
		&_img {
			max-width: 510px;
			top: 65px;
			right: -150px;
		}
		&_title {
			line-height: 1.2;
			margin-bottom: 15px;
			span {
				font-size: 44px;
			}
		}
		&_subtitle {
			font-size: 22px;
			margin-bottom: 30px;
		}
		.btn {
			padding: 9px 24px;
			&:nth-child(2) {
				margin-left: 15px;
			}
		}
	}
	@media (max-width: $break_sm) {
		padding: 400px 10px 30px 10px;
		&_img {
			width: 350px;
			top: 40px;
			left: 50%;
			transform: translate(-50%,0);
		}
		&_block {
			margin-left: auto;
			margin-right: auto;
		}
		&_title {
			margin-bottom: 8px;
		}
		&_subtitle {
			font-size: 18px;
			margin-bottom: 25px;
		}
		.btn {
			padding: 8px 17px;
		}
	}
}

.lines {
	position: relative;
	z-index: 1;
	&_line {
		width: 1px;
		height: 100%;
		background-color: $grey;
		position: absolute;
		top: 0;
		&:nth-child(1) {
			left: 13.2%;
		}
		&:nth-child(2) {
			left: 32%;
		}
		&:nth-child(3) {
			left: 51%;
		}
		&:nth-child(4) {
			right: 30%;
		}
		&:nth-child(5) {
			right: 13.1%;
		}
	}
	@media (max-width: $break_md) {
		&_line {
			&:nth-child(1) {
				left: 4%;
			}
			&:nth-child(2) {
				left: 34%;
			}
			&:nth-child(3) {
				display: none;
			}
			&:nth-child(4) {
				right: 34%;
			}
			&:nth-child(5) {
				right: 4%;
			}
		}
	}
	@media (max-width: $break_sm) {
		&_line {
			display: none;
		}
	}
}

.offering {
	padding: 257px 162px 180px 162px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	z-index: 1;
	&_img {
		max-width: 575px;
		position: absolute;
		top: 105px;
		left: 171px;
	}
	&_block {
		max-width: 600px;
		position: relative;
		z-index: 3;
	}
	&_title {
		margin-bottom: 58px;
		line-height: 1;
	}
	&_text {
		max-width: 570px;
		padding-left: 98px;
		line-height: 1.45;
		letter-spacing: 1px;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 66px;
			height: 2px;
			background-color: $blue;
			position: absolute;
			top: 13px;
			left: 1px;
		}
	}
	@media (max-width: $break_xl) {
		&_img {
			left: 0;
		}
	}
	@media (max-width: $break_lg) {
		padding-left: 100px;
		padding-right: 100px;
	}
	@media (max-width: $break_md) {
		padding: 200px 40px 152px 40px;
		&_block {
			max-width: 320px;
			margin-left: auto;
		}
		&_title {
			line-height: 1.15;
			margin-bottom: 17px;
		}
		&_text {
			font-size: 16px;
			padding-left: 50px;
			&:after {
				content: '';
				display: block;
				width: 35px;
				top: 10px;
			}
		}
		&_img {
			max-width: 400px;
			position: absolute;
			top: 100px;
			left: -40px;
		}
	}
	@media (max-width: $break_sm) {
		padding: 475px 14px 92px 14px;
		&_img {
			width: 330px;
			left: 50%;
			top: 72px;
			transform: translate(-50%,0);
		}
		&_block {
			margin-right: auto;
		}
		&_title {
			margin-bottom: 22px;
		}
		&_text {
			padding-left: 0;
			&:after {
				display: none;
			}
		}
	}
}

.advantages {
	padding: 0 205px 265px 205px;
	position: relative;
	&_title {
		max-width: 600px;
		letter-spacing: 0.7px;
		margin-bottom: 65px;
		span {
			font-size: 45px;
			margin-left: 6px;
			line-height: 0;
		}
	}
	&_col {
		@include col(4);
		@include col-sm(6);
		padding-top: 129px;
		margin-bottom: 64px;
		position: relative;
		z-index: 3;
	}
	&_icon {
		position: absolute;
		top: 1px;
		left: 30px;
	}
	&_subtitle {
		max-width:270px;
		letter-spacing: 1px;
		line-height: 1.3;
		margin-bottom: 24px;
	}
	&_text {
		font-size: 18px;
		letter-spacing: 0.8px;
		line-height: 1.4;
	}
	&_img {
		max-width: 756px;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 2;
		img {
			display: block;
		}
	}
	@media (max-width: $break_lg) {
		padding-left: 100px;
		padding-right: 100px;
	}
	@media (max-width: $break_md) {
		padding: 0 45px 61px 47px;
		&_title {
			margin-bottom: 50px;
		}
		&_subtitle {
			margin-bottom: 18px;
		}
		&_col {
			margin-bottom: 55px;
		}
		&_text {
			font-size: 16px;
		}
		&_img {
			max-width: 420px;
			right: -60px;
		}
	}
	@media (max-width: $break_sm) {
		padding: 0 5px 52px 13px;
		&_title {
			margin-bottom: 42px;
		}
		&_col {
			padding-top: 108px;
			margin-bottom: 50px;
		}
		&_subtitle {
			max-width: 140px;
			margin-bottom: 12px;
		}
		&_icon {
			width: 83px;
		}
		&_text {
			font-size: 14px;
			letter-spacing: 0;
			line-height: 1.5;
		}
		&_img {
			width: 308px;
		}
	}
}

.consultation {
	padding: 121px 204px 91px 204px;
	background-color: $grey;
	&_head {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 80px;
	}
	&_title {
		line-height: 1;
		margin-left: 5px;
	}
	&_text {
		max-width: 500px;
		margin-right: 55px;
		margin-bottom: 4px;
		font-size: 31px;
		line-height: 1.4;
	}
	&_col {
		@include col(4);
		@include col-sm(12);
		position: relative;
		padding-top: 45px;
		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			position: absolute;
			top: 0;
			left: 26px;
			background-color: $blue;
		}
	}
	&_subtitle {
		max-width: 280px;
		letter-spacing: 1px;
		margin-bottom: 32px;
	}
	&_list {
		max-width: 290px;
		margin-bottom: 95px;
		font-size: 18px;
		letter-spacing: 0.7px;
		line-height: 1.4;
	}
	&_item {
		padding-left: 17px;
		margin-bottom: 16px;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			background-color: $blue;
			position: absolute;
			top: 8px;
			left: 1px;
		}
	}
	&_block {
		max-width: 585px;
		margin-left: auto;
		position: relative;
		z-index: 3;
	}
	&_form {
		padding: 76px 65px 76px 20px;
		border: 5px solid $blue;
		position: relative;
	}
	&_subtitle-b {
		margin-bottom: 27px;
		letter-spacing: 1px;
	}
	&_row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	&_input {
		width: 100%;
		margin-bottom: 25px;
	}
	&_input-half {
		width: 48%;
	}
	&_img {
		max-width: 500px;
		position: absolute;
		bottom: 0;
		left: -45px;
		z-index: 2;
		img {
			display: block;
		}
	}
	.btn {
		padding: 12px 30px;
		position: relative;
		z-index: 3;
	}
	@media (max-width: $break_lg) {
		padding-left: 100px;
		padding-right: 100px;
	}
	@media (max-width: $break_md) {
		padding: 92px 47px 91px 47px;
		&_head {
			margin-bottom: 54px;
		}
		&_title {
			line-height: 1.1;
		}
		&_text {
			max-width: 300px;
			font-size: 22px;
			margin-right: 10px;
		}
		&_subtitle {
			margin-bottom: 20px;
		}
		&_list {
			margin-bottom: 66px;
			font-size: 16px;
		}
		&_item {
			margin-bottom: 11px;
		}
		&_block {
			max-width: 430px;
		}
		&_form {
			padding: 47px 35px 50px 20px;
			margin-left: -80px;
			margin-right: -40px;
		}
		&_subtitle-b {
			margin-bottom: 22px;
		}
		&_row {
			margin-bottom: 14px;
		}
		&_input {
			margin-bottom: 15px;
		}
		.btn {
			padding: 8px 23px;
		}
		&_img {
			max-width: 356px;
			left: -72px;
		}
	}
	@media (max-width: $break_sm) {
		padding: 88px 20px 32px 20px;
		margin-left: -8px;
		margin-right: -8px;
		&_head {
			flex-wrap: wrap;
			margin-bottom: 32px;
		}
		&_title {
			width: 100%;
			margin-left: 0;
			margin-bottom: 12px;
			line-height: 1.2;
		}
		&_text {
			width: 100%;
			margin: 0;
			font-size: 18px;
		}
		&_col {
			&:after {
				left: 30px;
			}
		}
		&_subtitle {
			font-size: 22px;
			margin-bottom: 25px;
			white-space: nowrap;
		}
		&_list {
			margin-bottom: 48px;
		}
		&_item {
			white-space: nowrap;
			margin-bottom: 10px;
		}
		&_img {
			width: 400px;
			left: 47%;
			bottom: calc(100% + 5px);
			transform: translate(-50%,0);
		}
		&_form {
			margin-left: -12px;
			margin-right: -12px;
			margin-top: 365px;
			padding: 49px 27px 42px 27px;
		}
		&_subtitle-b {
			letter-spacing: 0.5px;
		}
		&_row {
			flex-wrap: wrap;
			margin-bottom: 0;
		}
		&_block {
			max-width: 1000px;
			margin-left: 0;
		}
		&_input-half {
			width: 100%;
			margin-bottom: 16px;
		}
	}
}

.clients {
	padding: 202px 100px 109px 205px;
	position: relative;
	z-index: 2;
	&_title {
		max-width: 700px;
		line-height: 1;
	}
	&_img {
		max-width: 454px;
		position: absolute;
		top: 86px;
		right: 177px;
	}
	&_item {
		width: 360px;
  	height: 234px;
  	margin-left: auto;
  	margin-right: auto;
		background-color: #fff;
		border: 1px solid $grey;
	}
	&_icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 135px;
		padding: 61px;
		border-bottom: 1px solid $grey;
		&--1 {

		}
		&--2 {
			
		}
		&--3 {
			img {
				max-width: 180px;
			}
		}
		&--4 {
			
		}
		&--5 {
			
		}
		&--6 {
			
		}
		&--7 {
			
		}
		&--8 {
			
		}
		&--9 {
			
		}
		&--10 {
			
		}
		img {
			display: inline-block;
		}
	}
	&_progress {
		padding: 21px 24px 0;
	}
	&_money {
		margin-bottom: 7px;
		font-family: "Montserrat";
		font-size: 32px;
		color: $blue;
		font-weight: 500;
	}
	&_line {
		background-color: $grey;
		span {
			display: block;
			height: 8px;
			background-color: $blue;
		}
	}
}
.slider {
	position: relative;
	margin-left: -24px;
	margin-right: -24px;
	padding-bottom: 102px;
}
.sliderButton {
	width: 46px;
	height: 46px;
	border: 1px solid $grey;
	border-radius: 2px;
	transition: .3s;
	font-size: 40px;
	color: #a1acb9;
	text-align: center;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	&_prev {
		left: 204px;
	}
	&_next {
		left: 263px;		
	}
	&:hover {
		background-color: #a1acb9;
		color: #fff
	}
}