extends blocks/base.jade

block title 
	title Icoadm.in

block content

	header.header#header
		.wrapper
			a(href="index.html").logo
				img(src="img/logo.svg", alt="logo")
			#menu.menu.menu--top
				button#menu-btn.menu_btn.hamburger.hamburger--vortex(type="button")
					span.hamburger-box
						span.hamburger-inner
				nav.menu_nav
					.menu_block
						ul.menu_list#menu_list
							li.menu_item
								a(href="#sto").menu_link STO
							li.menu_item
								a(href="#products").menu_link Products
							li.menu_item
								a(href="#client").menu_link Сlient
							li.menu_item
								a(href="#mass").menu_link Mass Media
						a(href="#").btn.modal-trigger(data-modal="1") STO Consultation

	.wrapper

		section.first-screen
			.first-screen_img
				img(src="img/Img-1.png", alt="image")
			.first-screen_block
				h1.first-screen_title Superior Security Token Offering Provider
					span.title-span .
				.first-screen_subtitle We will tokenize your business
				.first-screen_line
					a(href="#").btn.btn-dark.modal-trigger(data-modal="1") Create Security Token
					a(href="#").btn.modal-trigger(data-modal="2") Request Demo

		.lines
			.lines_line
			.lines_line
			.lines_line
			.lines_line
			.lines_line

			section.offering#sto
				.offering_img
					img(src="img/Img-2.png", alt="image").wow.fadeInLeft
				.offering_block
					h2.offering_title.wow.fadeInRight Security Token Offering
						span.title-span .
					p.offering_text.wow.fadeInRight Security Token Offering is the process of digital assets issuance in full compliance with the requirements<br>of the security legislation

			.advantages
				h3.advantages_title.wow.fadeInUp STO has a plenty of advantages over ICO
					span.title-span :
				.row
					.advantages_col.anim.wow.fadeInUp
						.advantages_icon
							img(src="img/Icon-1.svg", alt="image").animated
						h4.advantages_subtitle Secure Market Conditions
						p.advantages_text All the investments and rights of market players are protected by legal authorities
					.advantages_col.anim.wow.fadeInUp(data-wow-delay="0.3s")
						.advantages_icon
							img(src="img/Icon-2.svg", alt="image").animated
						h4.advantages_subtitle Accredited Investors
						p.advantages_text Only official and trustworthy investors will have an access for your tokens
					.advantages_col.anim.wow.fadeInUp(data-wow-delay="0.6s")
						.advantages_icon
							img(src="img/Icon-3.svg", alt="image").animated
						h4.advantages_subtitle Securitized  assets
						p.advantages_text STO tokens are more attractive for investors because of their legal essence
					.advantages_col.anim.wow.fadeInUp
						.advantages_icon
							img(src="img/Icon-4.svg", alt="image").animated
						h4.advantages_subtitle Expanding Niche
						p.advantages_text STO market is in phase of growth. There is a great opportunity to collect a big hard cap
					.advantages_col.anim.wow.fadeInUp(data-wow-delay="0.3s")
						.advantages_icon
							img(src="img/Icon-5.svg", alt="image").animated
						h4.advantages_subtitle Equity Control
						p.advantages_text You can easily manage your equity issuance on the start of STO
					.advantages_col
				.advantages_img
					img(src="img/Img-3.png", alt="image").wow.fadeInRight(data-wow-delay="0.5s")

		section.consultation#products
			.consultation_head
				h2.consultation_title.wow.fadeInLeft What<br>we Offer
					span.title-span .
				.consultation_text.wow.fadeInRight Get a free professional consultation for your STO
			.row
				.consultation_col.wow.fadeInUp
					h4.consultation_subtitle Legal Consulting
					ul.consultation_list
						li.consultation_item Creation of documentation for SEC;
						li.consultation_item Potential risks identification;
						li.consultation_item Documentation creation;
						li.consultation_item Communication with legal authorities;
						li.consultation_item Trademark registration;
						li.consultation_item Public offers development;
						li.consultation_item Non-disclosure agreement.
				.consultation_col.wow.fadeInUp(data-wow-delay="0.3s")
					h4.consultation_subtitle Software Development
					ul.consultation_list
						li.consultation_item Security token;
						li.consultation_item Smart contract;
						li.consultation_item Tokensale platform;
						li.consultation_item KYC/AML integration;
						li.consultation_item Website;
						li.consultation_item Blockchain for business.
				.consultation_col.wow.fadeInUp(data-wow-delay="0.6s")
					h4.consultation_subtitle Marketing Consulting
					ul.consultation_list
						li.consultation_item Marketing planning;
						li.consultation_item Traffic generation;
						li.consultation_item PR distribution;
						li.consultation_item SMM;
						li.consultation_item E-mail distribution;
						li.consultation_item Brand awareness.
			form.consultation_form
				.consultation_block
					h3.consultation_subtitle-b.wow.fadeInRight Get Consultation
					.consultation_row.wow.fadeInRight
						.consultation_input-half
							input#consultation_input-1(type="text" name="name" placeholder="Name" required)
							label(for="consultation_input-1") Name
						.consultation_input-half.consultation_input-half--tel.input-tel
							.modal_select
								select(name="country")#country-select
									option(value="+7") +7 ru
									option(value="+375") +375 bel
									option(value="+380") +380 ukr	
							input#consultation_input-2(type="tel" name="tel" placeholder="Phone" required)
							label(for="consultation_input-2") Phone
					.consultation_input.wow.fadeInRight
						input#consultation_input-3(type="email" name="email" placeholder="E-mail" required)
						label(for="consultation_input-3") E-Mail
					button.btn.btn-dark.wow.fadeInRight Get Consultation
				.consultation_img
					img(src="img/Img-4.png", alt="image").wow.fadeInLeft

		.lines
			.lines_line
			.lines_line
			.lines_line
			.lines_line
			.lines_line

			section.clients#client
				h2.clients_title.wow.fadeInLeft We Have<br>a Huge Expertise<br>in ICO &amp; STO.
				.clients_img
					img(src="img/Img-5.png", alt="image").wow.fadeInRight
				.slider-block.wow.fadeInUp
					.slider
						div
							.clients_item
								.clients_icon.clients_icon--1
									img(src="img/goldcash.png", alt="image")
								.clients_progress
									.clients_money In Progress
									.clients_line.clients_line--1
										span
						div
							.clients_item
								.clients_icon.clients_icon--2
									img(src="img/lfe.png", alt="image")
								.clients_progress
									.clients_money $ 71 320 000
									.clients_line.clients_line--2
										span
						div
							.clients_item
								.clients_icon.clients_icon--3
									img(src="img/osa.png", alt="image")
								.clients_progress
									.clients_money $ 40 000 000
									.clients_line.clients_line--3
										span
						div
							.clients_item
								.clients_icon.clients_icon--4
									img(src="img/mandala.png", alt="image")
								.clients_progress
									.clients_money $ 18 000 000
									.clients_line.clients_line--4
										span
						div
							.clients_item
								.clients_icon.clients_icon--5
									img(src="img/trustbar.png", alt="image")
								.clients_progress
									.clients_money In Progress
									.clients_line.clients_line--5
										span
						div
							.clients_item
								.clients_icon.clients_icon--6
									img(src="img/keepface.png", alt="image")
								.clients_progress
									.clients_money In Progress
									.clients_line.clients_line--6
										span
						div
							.clients_item
								.clients_icon.clients_icon--7
									img(src="img/payperblock.png", alt="image")
								.clients_progress
									.clients_money $ 40 000
									.clients_line.clients_line--7
										span
						div
							.clients_item
								.clients_icon.clients_icon--8
									img(src="img/remitty.png", alt="image")
								.clients_progress
									.clients_money In Progress
									.clients_line.clients_line--8
										span
						div
							.clients_item
								.clients_icon.clients_icon--9
									img(src="img/resistance.png", alt="image")
								.clients_progress
									.clients_money $ 573 312
									.clients_line.clients_line--9
										span
						div
							.clients_item
								.clients_icon.clients_icon--10
									img(src="img/investorim.png", alt="image")
								.clients_progress
									.clients_money In Progress
									.clients_line.clients_line--10
										span
					.sliderButton.sliderButton_prev.icon-keyboard_arrow_left
					.sliderButton.sliderButton_next.icon-keyboard_arrow_right

			#mass
			section.mass-media
				.mass-media_left
					.mass-media_img
						img(src="img/Img-6.png", alt="image").wow.fadeInLeft
					h2.mass-media_title.wow.fadeInLeft Mass media about us
						span.title-span .
					a(href="#").btn.mobile-visible View all
				.mass-media_right
					.row
						.mass-media_col.wow.fadeInRight
							.mass-media_item.mass-media_item--market-watch
								.mass-media_subtitle
									.mass-media_logo
										img(src="img/market-watch.svg", alt="image")
								.mass-media_description
									img(src="img/mass-1.jpg", alt="image")
						.mass-media_col.wow.fadeInRight(data-wow-delay="0.5s")
							.mass-media_item.mass-media_item--dijital-journal
								.mass-media_subtitle
									.mass-media_logo
										img(src="img/dijital-journal.png", alt="image")
								.mass-media_description
									img(src="img/mass-2.jpg", alt="image")
						.mass-media_col.mobile-hide.wow.fadeInRight
							.mass-media_item.mass-media_item--coinspectator
								.mass-media_subtitle
									.mass-media_logo
										img(src="img/coinspectator.png", alt="image")
								.mass-media_description
									img(src="img/mass-3.jpg", alt="image")
						.mass-media_col.mobile-hide.wow.fadeInRight(data-wow-delay="0.5s")
							.mass-media_item.mass-media_item--yahoo
								.mass-media_subtitle
									.mass-media_logo
										img(src="img/yahoo.png", alt="image")
								.mass-media_description
									img(src="img/mass-4.jpg", alt="image")
					a(href="#").btn.mobile-hide.wow.fadeInUp View all

			section.team
				h2.team_title.wow.fadeInLeft Our team
					span.title-span .
				.team_text.wow.fadeInRight Each of our specialists has minimum 2-year experience in blockchain sphere and 5 years overall working experience. We have successfully helped over 30 projects to collect more than $300.000.000.
				.team_row
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-1.jpg", alt="image")
							.team_name Sabir
							.team_position Chief Operating Officer
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-2.jpg", alt="image")
							.team_name Vladislav
							.team_position Marketing Director
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-3.jpg", alt="image")
							.team_name Artemiy
							.team_position Sales Director
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-4.jpg", alt="image")
							.team_name Andrey
							.team_position Business Developer
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-5.jpg", alt="image")
							.team_name Anastasia
							.team_position Senior Sales Manager
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-6.jpg", alt="image")
							.team_name Temur
							.team_position Senior Developer
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-7.jpg", alt="image")
							.team_name Ruslan
							.team_position Senior Developer
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-8.jpg", alt="image")
							.team_name Andrey
							.team_position Senior Developer
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-9.jpg", alt="image")
							.team_name Svetlana
							.team_position QA Engineer
					.team_col
						.team_item.wow.fadeInUp
							.team_img
								img(src="img/Photo-10.jpg", alt="image")
							.team_name Maxim
							.team_position Technical Support Specialist
					.team_col
						.team_item.wow.fadeInUp.mobile-hide
							.team_img
								img(src="img/Photo-11.jpg", alt="image")
							.team_name Sanchez
							.team_position Technical Support Specialist
					.team_col
						.team_item.wow.fadeInUp.mobile-visible
							.team_img
								img(src="img/Photo-11.jpg", alt="image")
							.team_name Sanchez
							.team_position Technical Support Specialist

			section.partners
				h2.partners_title.wow.fadeInUp Partners
					span.title-span .
				.row.partners_row
					.partners_col
						.partners_item.wow.fadeInUp
							.partners_icon.partners_icon--sumsub
								img(src="img/sumsub.png", alt="image")
					.partners_col
						.partners_item.wow.fadeInUp(data-wow-delay="0.3s")
							.partners_icon.partners_icon--juryonline
								img(src="img/juryonline.png", alt="image")
					.partners_col
						.partners_item.wow.fadeInUp(data-wow-delay="0.6s")
							.partners_icon.partners_icon--moonrate
								img(src="img/moonrate.png", alt="image")
					.partners_col
						.partners_item.wow.fadeInUp(data-wow-delay="0.9s")
							.partners_icon.partners_icon--trackico
								img(src="img/trackico.png", alt="image")

				.partners_block
					form(action="#").partners_form
						h3.partners_subtitle.wow.fadeInLeft Get the Latest News About STO &amp; Blockchain
						.partners_line
							.partners_input.wow.fadeInLeft(data-wow-delay="0.5s")
								input#partners_input(type="text" name="email" placeholder="E-mail" required)
								label(for="partners_input") E-mail
							button.partners_btn.btn.btn-dark.wow.fadeInUp Subscribe
					.partners_img
						img(src="img/Img-7.png", alt="image").wow.fadeInRight

			footer.footer
				.footer_copyright &copy; 2018 Company Inc.

	.modal.modal#modal-1
		form(action="#").modal_content
			h3.modal_title Get STO Consultation
			.modal_input
				input(type="text" name="name" placeholder="Name" required)#modal_input-1
				label(for="modal_input-1").modal_label Name
			.modal_input
				input(type="text" name="email" placeholder="E-mail" required)#modal_input-2
				label(for="modal_input-2").modal_label E-mail
			.modal_input.modal_input--tel.input-tel
				.modal_select
					select(name="country")#country-select
						option(value="+7") +7 ru
						option(value="+375") +375 bel
						option(value="+380") +380 ukr	
				input(type="text" name="tel" placeholder="Telephone" required)#modal_input-3
				label(for="modal_input-3").modal_label Telephone
			.modal_textarea
				textarea(name="massage" placeholder="Message" required)#modal_input-4
				label(for="modal_input-4").modal_label Message
			button.btn.btn-dark Get Consultation
		.modal_close
	.modal_over

	.modal.modal#modal-2
		form(action="#").modal_content
			h3.modal_title Request Demo
			.modal_input
				input#modal_input-5(type="text" placeholder="E-mail" name="email" required)
				label(for="modal_input-5") E-mail
			button.btn.btn-dark Get Demo
		.modal_close
	.modal_over

block js
	script(src="js/jquery-3.2.1.min.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.matchHeight-min.js")
	script(src="js/jquery.inputmask.bundle.min.js")
	script(src="js/wow.min.js")
	script(src="js/script.js")