extends blocks/base.jade

block title 
	title Icoadm.in

block content

	.wrapper
		header.header
			a(href="index.html").logo
				img(src="img/logo.svg", alt="logo")
			.menu
				nav.menu_nav
					ul.menu_list
						li.menu_item
							a(href="#").menu_link STO
						li.menu_item
							a(href="#").menu_link Products
						li.menu_item
							a(href="#").menu_link Сlient
						li.menu_item
							a(href="#").menu_link Mass Media
					a(href="#").btn STO Consultation
		section.first-screen
			.first-screen_block
				h1.first-screen_title Superior Security Token Offering Provider
					span.title-span .
				.first-screen_subtitle We will tokenize your business
				.first-screen_line
					a(href="#").btn.btn-dark Create Security Token
					a(href="#").btn Request Demo
			.first-screen_img
				img(src="img/Img-1.png", alt="image")

		.lines
			.lines_line
			.lines_line
			.lines_line
			.lines_line
			.lines_line

			section.offering
				.offering_img
					img(src="img/Img-2.png", alt="image")
				.offering_block
					h2.offering_title Security Token Offering
						span.title-span .
					p.offering_text Security Token Offering is the process of digital assets issuance in full compliance with the requirements of the security legislation

			.advantages
				h3.advantages_title STO has a plenty of advantages over ICO
					span.title-span :
				.row
					.advantages_col
						.advantages_icon
							img(src="img/icon-1.svg", alt="image")
						h4.advantages_subtitle Secure Market Conditions
						p.advantages_text All the investments and rights of market players are protected by legal authorities
					.advantages_col
						.advantages_icon
							img(src="img/icon-2.svg", alt="image")
						h4.advantages_subtitle Accredited Investors
						p.advantages_text Only official and trustworthy investors will have an access for your tokens
					.advantages_col
						.advantages_icon
							img(src="img/icon-3.svg", alt="image")
						h4.advantages_subtitle Securitized  assets
						p.advantages_text STO tokens are more attractive for investors because of their legal essence
					.advantages_col
						.advantages_icon
							img(src="img/icon-4.svg", alt="image")
						h4.advantages_subtitle Expanding Niche
						p.advantages_text STO market is in phase of growth. There is a great opportunity to collect a big hard cap
					.advantages_col
						.advantages_icon
							img(src="img/icon-5.svg", alt="image")
						h4.advantages_subtitle Equity Control
						p.advantages_text You can easily manage your equity issuance on the start of STO
					.advantages_col
				.advantages_img
					img(src="img/Img-3.png", alt="image")

		section.consultation
			.consultation_head
				h2.consultation_title What<br>we Offer
					span.title-span .
				.consultation_text Get a free professional consultation for your STO
			.row
				.consultation_col
					h4.consultation_subtitle Legal Consulting
					ul.consultation_list
						li.consultation_item Creation of documentation for SEC;
						li.consultation_item Potential risks identification;
						li.consultation_item Documentation creation;
						li.consultation_item Communication with legal authorities;
						li.consultation_item Trademark registration;
						li.consultation_item Public offers development;
						li.consultation_item Non-disclosure agreement.
				.consultation_col
					h4.consultation_subtitle Software Development
					ul.consultation_list
						li.consultation_item Security token;
						li.consultation_item Smart contract;
						li.consultation_item Tokensale platform;
						li.consultation_item KYC/AML integration;
						li.consultation_item Website;
						li.consultation_item Blockchain for business.
				.consultation_col
					h4.consultation_subtitle Marketing Consulting
					ul.consultation_list
						li.consultation_item Marketing planning;
						li.consultation_item Traffic generation;
						li.consultation_item PR distribution;
						li.consultation_item SMM;
						li.consultation_item E-mail distribution;
						li.consultation_item Brand awareness.
			form.consultation_form
				h3.consultation_subtitle-b Get Consultation
				.consultation_row
					input.consultation_input-half(type="text" name="name" placeholder="Name" requaired)
					input.consultation_input-half(type="tel" name="tel" placeholder="Phone" requaired)
				input.consultation_input(type="email" name="email" placeholder="E-Mail" requaired)
				button.btn.btn-dark Get Consultation
				.consultation_img
					img(src="img/Img-4.png", alt="image")

block js
	script(src="js/jquery-3.2.1.min.js")
	//- script(src="js/jquery.fancybox.min.js")
	//- script(src="js/slick.min.js")
	//- script(src="js/jquery.matchHeight-min.js")
	//- script(src="js/jquery.inputmask.bundle.min.js")
	script(src="js/jquery.tinyscrollbar.min.js")
	//- script(src="js/autosize.min.js")
	script(src="js/tooltipster.bundle.min.js")
	//- script(src="js/jquery.mmenu.all.js")
	script(src="js/wow.min.js")
	//- script(src="js/fullpage.min.js")
	script(src="js/script.js")